# Auto detect text files and perform LF normalization
* text=auto


Portofolio 


Perkenalkan, nama aku Yosua Melvin Tumangkeng. Aku lahir di Subang pada tanggal 17 Mei 2001. 
Untuk pendidikan saat ini Mahasiswa Kuliah, berkuliah di Universitas Katholik Soegidjapranata Semarang. 
Makanan kesukaan aku yaitu tempe dengan sambel terasi, kemudian untuk warna kesukaan aku yaitu warna ungu, karena warna ungu melambangkan kemewahaan. 
Aku sangat suka berolahraga. Mau itu badminton, Basket, dan Futsal. Terkadang bermain video game disaat waktu luang. Cita-cita yang ingin saya raih 
yaitu bebas finansial. 

